/* --------------------- Styles for EnquiriesPage */
.HeroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    padding: 50px 20px;
    text-transform: uppercase;
    text-align: center;
}

.ImgContainer {
    max-height: 150px;
    width: 100%;
    display: flex;
}

.ImgContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 992px) {
    .HeroSection h1 {
        font-size: 3rem;
        padding: 70px 20px;
    }
}