.Search {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid var(--clr-accent--dark);
    border-radius: 5px;
}

.SearchInput {
    border: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 0;
}

.Select {
    border: 1px solid var(--clr-accent--dark);
}