/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --clr-brand--primary: #40826d;
    --clr-accent--light: #d0d1cb;
    --clr-accent--dark: #3e504a;
    --clr-light: #f4f6f6;
    --clr-dark: #22252d;
    --ff-primary: 'Heebo', sans-serif;
    --ff-secondary: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-secondary);
}

main {
    flex: 1 0 auto;
    padding-top: 57px;
}

/* -------------------------------- Colours */
.bgWhite {
    background-color: #ffffff;
}

.bgLight {
    background-color: var(--clr-light);
}

.bgAccentLight {
    background-color: var(--clr-accent--light);
}

.txtAccentDark {
    color: var(--clr-brand--primary);
}

.txtDark {
    color: var(--clr-dark);
}

/* -------------------------------- Dividing lines */
.dividerPrimary {
    background-color: var(--clr-brand--primary);
    height: 5px;
    width: 100%;
}

@media screen and (min-width: 992px) {
    main {
        padding-top: 72.5px;
    }
}