/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --clr-brand--primary: #40826d;
    --clr-accent--light: #d0d1cb;
    --clr-accent--dark: #3e504a;
    --clr-light: #f4f6f6;
    --clr-dark: #22252d;
    --ff-primary: 'Heebo', sans-serif;
    --ff-secondary: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-secondary);
}

main {
    flex: 1 0 auto;
    padding-top: 57px;
}

/* -------------------------------- Colours */
.bgWhite {
    background-color: #ffffff;
}

.bgLight {
    background-color: var(--clr-light);
}

.bgAccentLight {
    background-color: var(--clr-accent--light);
}

.bgAccentDark {
    background-color: var(--clr-accent--dark);
}

.bgPrimary {
    background-color: var(--clr-brand--primary);
}

.bgDark {
    background-color: var(--clr-dark);
}

.txtPrimary {
    color: var(--clr-brand--primary);
}

.txtAccentDark {
    color: var(--clr-accent--dark);
}

.txtDark {
    color: var(--clr-dark);
}

.txtWhite {
    color: #ffffff;
}

.txtInactive {
    color: #757474;
}

/* -------------------------------- Dividing lines */
.dividerPrimary {
    background-color: var(--clr-brand--primary);
    height: 5px;
    width: 100%;
}

/* ------------------------------------ Utilities */
.txtLarger {
    font-size: 1.3em;
}

.Round {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.Round img {
    border-radius: 50%;
}

.Square {
    aspect-ratio: 1/1;
}

/* ----------------------------------- Images */
.ImageCover {
    display: flex;
    width: 100%;
}

.ImageContain {
    display: flex;
    height: 100%;
    width: 100%;
}

.ImageCover img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.ImageContain img {
    object-fit: contain;
    margin: auto;
}

/* ---------------------------------- Forms */
label {
    font-weight: 600;
}

input,
select,
textarea {
    margin-bottom: 10px;
}

/* ---------------------------------- Buttons/icons/links */
.IconBtn {
    background-color: transparent;
    border: none;
}

.btnPrimary {
    background-color: var(--clr-brand--primary);
    border-color: var(--clr-brand--primary);
    color: white;
}

.btnAccentLight {
    background-color: var(--clr-accent--light);
    border-color: var(--clr-accent--light);
}

.btnAccentLight:hover,
.btnAccentLight:focus,
.btnAccentLight:active {
    background-color: #a2a39d;
    border-color: #a2a39d;
}

.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active.btnPrimary:active {
    background-color: var(--clr-accent--dark);
    border-color: var(--clr-brand--primary);
    color: white;
}

.linkBtn {
    padding: 6px 12px;
    line-height: var(--bs-btn-line-height);
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    main {
        padding-top: 72.5px;
    }
}