.Cover {
    display: flex;
    object-fit: cover;
    width: 100%;
}

.Contain {
    object-fit: contain;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.Round {
    border-radius: 50%;
}