.Card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.CardFooter {
    background-color: white;
    border-top: none;
}

.ImgContainer {
    display: flex;
    aspect-ratio: 5/4;
    width: 100%;
}

.ImgContainer img {
    display: flex;
    object-fit: cover;
    width: 100%;
}